
/*-------------       Master Styles       ---------------*/

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    width: 700px;
    height: 650px;
    margin: 0 auto;
}

form {
    margin-top: 3rem;
    background-color: #eeeeee;
}

fieldset {
    border: 0;
}

label {
    display: block;
    width: 180px;
    float: left;
    clear: both;
    margin-top: 0.5rem;
}

label em {
    display: block;
    float: right;
    padding-right: 0.5rem;
    color: red;
}

textarea, input {
    float: left;
    width: 220px;
    padding: 2px;
}

textarea {
    height: 180px;
}

#submit {
    margin-left: 180px;
    clear: both;
    width: 100px;
}

label.error {
    float: left;
    color: red;
    clear: none;
    width: 250px;
    padding-left: 10px;
    font-size: 0.8rem;
}

.required_msg {
    padding-left: 180px;
    clear: both;
    float: left;
    color: red;
}